/* Flechas del menú (ocultarlas si no se desean) */
.arrow {
    -fx-opacity: 0;
}
.menu-bar > .container > .menu > .label {
    -fx-text-fill: white;
}
.menu-bar .menu {
    -fx-text-fill: white; /* Color del texto de los menús */
}

.menu-bar .menu:hover {
    -fx-text-fill: white; /* Texto permanece blanco en hover */
}

.menu, .menu-item {
    -fx-background-color: #1e293b;
    -fx-text-fill: white; /* Color del texto */
}

.menu .menu-item:hover {
    -fx-background-color: #334155;
    -fx-text-fill: white;
}




